workspace "browser" {
    open-on-output "DP-1"
}
workspace "mail" {
    open-on-output "DP-1"
}
workspace "term"{
    open-on-output "eDP-1"
}

input {
    keyboard {
        xkb {
            layout "us,gr"
            options "grp:alt_shift_toggle,altwin:swap_alt_win,ctrl:nocaps"
        }
        numlock
    }

    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }
    // warp-mouse-to-focus
}

output "eDP-1" {
    position x=400 y=1440
}

output "DP-1" {
    position x=0 y=0
}

gestures{
    hot-corners {
        off
    }
}
overview{
    workspace-shadow{
        off
    }
    zoom 0.55555
}

environment{
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

layout {
    gaps 10
    center-focused-column "never"
    always-center-single-column 
    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    background-color "transparent"
    // preset-window-heights { }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.66667; }
    // default-column-width {}
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        off
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // off
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
        urgent-color "#9b0000"
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
        // on
        // draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-sh-at-startup "waybar"
spawn-sh-at-startup "swaybg -i ~/Pictures/wallpapers/amnesiac.jpg"
spawn-sh-at-startup "chromium --no-startup-window"


hotkey-overlay {
    skip-at-startup
}

// prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // off
    slowdown 0.35
}

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width { proportion 0.66667; }
}

window-rule {
    match app-id="clock-rs.wez"
    open-floating true
}

binds {
    Mod+Ctrl+w { spawn-sh "alacritty  -e impala";}
    Mod+Ctrl+t { spawn-sh "alacritty -e --class=clock-rs.wez $HOME/.cargo/bin/clock-rs";}
    Mod+Ctrl+b { spawn-sh "alacritty -e /home/salepakos/.config/waybar/lua/bluetooth.lua 1";}
    Mod+Shift+l  { spawn "swaylock"; }
    Mod+Ctrl+s { spawn-sh "alacritty -e wiremix";}
    Mod+Ctrl+m { spawn-sh "/home/salepakos/.local/bin/toggle_screen.py";}

    Mod+Return  { spawn-sh "alacritty"; }
    Mod+Space  { spawn "wofi"; }
    Mod+e  { spawn "nautilus"; }
    Mod+Alt+e  { spawn-sh "alacritty -e yazi"; }
    Mod+p  { spawn-sh "spotify"; }
    // Mod+p  { spawn-sh "chromium --new-window --app=https://spotify.com"; }
    Mod+a  { spawn-sh "chromium --new-window --app=https://chatgpt.com"; }
    Mod+n  { spawn-sh "chromium --new-window --app=https://messenger.com"; }
    Mod+s  { spawn-sh "discord"; }
    // Mod+s  { spawn-sh "chromium --new-window --app=https://discord.com/app"; }
    Mod+m  { spawn-sh "chromium --new-window --app=https://teams.microsoft.com/v2/ && chromium --new-window --app=https://outlook.office.com/mail/"; }
    Mod+b  { spawn-sh "killall waybar || waybar "; }
    Mod+Ctrl+n  { spawn-sh "pkill wlsunset || wlsunset -t 3500 "; }
    Mod+d { spawn-sh "hyprpicker -a";}

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+c repeat=false { close-window; }

    Mod+0     { focus-column-last; }
    Mod+9     { focus-column-first; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace "browser"; }
    Mod+2 { focus-workspace "term"; }
    Mod+3 { focus-workspace "mail"; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }

    Mod+Ctrl+1 { move-column-to-workspace "browser"; }
    Mod+Ctrl+2 { move-column-to-workspace "term"; }
    Mod+Ctrl+3 { move-column-to-workspace "mail"; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+w { maximize-column; }
    F11 { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+f { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Ctrl+Minus { set-window-height "-10%"; }
    Mod+Ctrl+Equal { set-window-height "+10%"; }

    Mod+q       { toggle-window-floating; }
    Mod+Ctrl+q { switch-focus-between-floating-and-tiling; }

    Mod+t { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Ctrl+E { quit; }

    Mod+Ctrl+P { power-off-monitors; }
}
