layout{
    tab name="logs" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane split_direction="vertical"{
            pane{
                command "bash"
                args "-c" "ssh ovh 'docker logs gsport_app -f'"
            }

            pane {
                command "bash"
                args "-c" "ssh ovh 'docker logs sl2_app -f'"
            }
        }
    }
}
