layout{
    tab name="logs"  cwd="/home/salepakos/Documents/dev/super-league-2"{
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane split_direction="vertical"{
            pane {
                cwd "sl2_flask"
                command "bash"
                args "-c" "/home/salepakos/.local/bin/sl2_flask_setup"
            }
            pane {
                cwd "AngularApp"
                command "bash"
                args "-c" "echo 1beer | sudo -S bun run start"
            }
        }
    }
    tab name="flask" cwd="/home/salepakos/Documents/dev/super-league-2"{
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane {
            cwd "sl2_flask"
            command "nvim"
            args "."
        }
    }
    tab name="ng" cwd="/home/salepakos/Documents/dev/super-league-2"{
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane {
            cwd "AngularApp"
            command "nvim"
            args "."
        }
    }
}
