window {
    margin: 0px;
    border-radius: 8px;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 14;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-radius: 0px;;
}

#inner-box {
    margin: 5px;
    border: none;
    border-radius: 0px;
}

#outer-box {
    margin: 8px;
    border: none;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 1.5px;
    border: none;
} 

#entry:selected {
    border-radius: 0px;
    outline: none;
}

#entry:selected * {
    border-radius: 0px; outline: none;
}
