[user]
	email = spyr1996@gmail.com
	name = Spyros Alepakos
[merge]
	tool = nvimdiff
	conflictStyle = zdiff3
[diff]
	tool = nvimdiff
[mergetool]
	prompt = false

[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
