/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/


headerbar {
  min-height: 15px;
  padding: 0;
  margin: 0;
}

.quick-terminal {
  border: 1px solid white;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  background-color: #1a1a1a;
  font-family: JetBrainsMono Nerd Font;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #9ca3af;
}

tabbar tabbox tab:selected {
  background-color: #2d2d2d;
  color: #ffffff;
  border-radius: 0;
}

tabbar tabbox tab label {
  font-size: 12px;
}
